/* ================================================== *\
	Variables
\* ================================================== */

// FONT COLORT
$fc-white: hsla(0, 0%, 100%, 100%);
$fc-gray: hsla(60, 1%, 19.8%, 100%);

// FONT FAMILY
$ff-title: 'Norican', cursive;

//BACKGROUND
$bcg-white: hsla(0, 0%, 100%, 100%);

//GRADIENT
$vertical-gradient: linear-gradient(to right, #dd813d, #415299);